@import "tailwindcss";

@theme {
  --color-bg: #090F12;
  --color-primary: #A6C6D0;
  --color-accent: #746AB0;
  --color-secondary: #373968;
  --color-text: #E2EBF0;
  --color-success: #22C55E;
  --color-danger: #EF4444;
  --color-placeholder: #292929;
  --color-bg-secondary: #131F25;

  --font-sans: "Inter", sans-serif;

  --breakpoint-xs: 425px;
}

@utility filter-success-drop-shadow {
  filter: drop-shadow(0 0 10px var(--color-success));
}

@utility filter-danger-drop-shadow {
  filter: drop-shadow(0 0 10px var(--color-danger));
}

html {
  @apply bg-bg text-text;
}

body {
  @apply m-7 overflow-x-hidden;
  min-height: 100vh;
}

.animation-fade-in {
  position: relative;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-name: fadeIn;
}

.infoCards > .stats-card:first-of-type {
  border-bottom-right-radius: 0;
}

.infoCards > .stats-card:last-of-type {
  border-bottom-left-radius: 0;
}

.infoCards > .stats-card:not(:first-of-type).stats-card:not(:last-of-type) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.github-button:hover > svg {
  left: 1.5px;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-bg border-solid border border-white/10 rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}