---
  const { class: className, ...rest } = Astro.props;
  import '@styles/markdown.css'
  import { render } from "astro:content"; 

  const { project } = Astro.props;

  const { Content } = await render(project);
---

<section id="bodyContent" class:list={[
  "text-start text-base xs:text-xl w-full my-10",
  className,
  ]}>
  <Content />
</section>