---
  import { render } from "astro:content"; 

  const { project } = Astro.props;

  const { Content } = await render(project);
---

<section class="text-start text-base xs:text-xl w-full my-10">
  <Content />
</section>