---
  import TechList from "@components/common/TechList.astro";

  const { project } = Astro.props;
  const { name, description, tech } = project.data;
---

<section class="text-center text-balance flex flex-col items-center gap-5 w-full max-w-4xl">
  <!-- Name -->
  <h1 class="text-5xl xs:text-7xl font-bold max-w-4xl">{name}</h1>
  <!-- Description -->
  <p class="text-xl xs:text-2xl text-text/80">{description}</p>
  <!-- TechList -->
  <div class="flex flex-wrap justify-center py-1.5 gap-2.5 items-center">
    <TechList class="min-h-10 !h-10 min-w-10 !w-10" tech={tech} />
  </div>
</section>