---
  const { class: className, ...rest } = Astro.props;
  import { GITHUB_USERNAME } from "astro:env/server";
  const { githubName } = Astro.props;

  import Button from "@components/common/Button.astro"
  import Icon from "@components/common/Icon.astro"
---

<header class:list={[
  "flex justify-between gap-10",
  className,
]}>
  <Button class="me-auto" href="/">
    <Icon name="home" class="stroke-current xs:w-4 w-5 h-4" />
    Return to Home
  </Button>

  {githubName && (
    <Button href={`https://github.com/${GITHUB_USERNAME}/${githubName}`} target="_blank">
      Go to Repo
      <Icon name="github" class="fill-current xs:w-4 w-5" />
    </Button>
  )}
</header>

