---
  import Button from "./Button.astro";
---

<header class="flex items-center justify-end bg-transparent">
  <Button class:list={["animation-fade-in-down animation-delay-0-5", "bg-bg text-text p-1"]}>
    Figma Design
    <svg class="stroke-current w-3" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 7.6675C4.1159 7.6675 3.26802 7.3163 2.64286 6.69114C2.01771 6.06599 1.6665 5.2181 1.6665 4.334C1.6665 3.4499 2.01771 2.60202 2.64286 1.97686C3.26802 1.35171 4.1159 1.0005 5 1.0005H8.333V7.6675M5 7.6675H8.333M5 7.6675C4.11604 7.6675 3.26828 8.01866 2.64322 8.64372C2.01816 9.26878 1.667 10.1165 1.667 11.0005C1.667 11.8845 2.01816 12.7322 2.64322 13.3573C3.26828 13.9823 4.11604 14.3335 5 14.3335H8.333V7.6675"stroke-width="1.5"/>
      <path d="M15 11.0005C15 11.8846 14.6488 12.7325 14.0236 13.3576C13.3985 13.9828 12.5506 14.334 11.6665 14.334C10.7824 14.334 9.93451 13.9828 9.30935 13.3576C8.6842 12.7325 8.33299 11.8846 8.33299 11.0005C8.33299 10.1164 8.6842 9.26852 9.30935 8.64337C9.93451 8.01821 10.7824 7.66701 11.6665 7.66701C12.5506 7.66701 13.3985 8.01821 14.0236 8.64337C14.6488 9.26852 15 10.1164 15 11.0005ZM4.99999 14.3345H8.33299V17.6675C8.3328 18.3267 8.13715 18.971 7.7708 19.5189C7.40444 20.0669 6.88383 20.494 6.27479 20.7461C5.66574 20.9982 4.99562 21.0641 4.34914 20.9353C3.70267 20.8066 3.10888 20.4891 2.64285 20.0229C2.17682 19.5568 1.85949 18.9629 1.73096 18.3164C1.60244 17.6699 1.6685 16.9998 1.9208 16.3908C2.1731 15.7818 2.60029 15.2613 3.14838 14.8952C3.69647 14.529 4.34083 14.3345 4.99999 14.3345Z"stroke-width="1.5"/>
      <path d="M8.33301 1.0005H11.666C12.5501 1.0005 13.398 1.35171 14.0231 1.97686C14.6483 2.60202 14.9995 3.4499 14.9995 4.334C14.9995 5.2181 14.6483 6.06599 14.0231 6.69114C13.398 7.3163 12.5501 7.6675 11.666 7.6675H8.33301V1.0005Z" stroke-width="1.5"/>
    </svg>
  </Button>
</header>