---
  import Icon from "../../common/Icon.astro"
  import Button from "../../common/Button.astro"
  import HeroTyping from "./HeroTyping.astro"
---

<div class="flex flex-col items-center justify-center bg-transparent">
  <span class="animation-fade-in-down text-center font-bold bg-gradient-to-b from-primary to-85% to-accent bg-clip-text text-transparent p-1">
    <h2 class="text-6xl">
      Hello there,
    </h2>
    <h1 class="text-7xl">
      I’m Jorge Mora
    </h1>
  </span>

  <HeroTyping />
  
  <Button class="animation-fade-in-up animation-delay-0-5 mt-4 ">
    Get my Resume
    <Icon name="download" class="fill-current w-3" />
  </Button>
</div>