---
  const { title, description, class: className, ...rest } = Astro.props;
---

<article class:list={[
  className,
  "flex flex-col items-center justify-center w-full"
  ]} {...rest}>
  <h2 class="text-5xl xl:text-6xl font-bold text-center from-primary to-60% to-accent text-transparent bg-gradient-to-b bg-clip-text">{title}</h2>
  <p class="text-lg xl:text-xl font-bold text-center text-balance">{description}</p>
  <div class="grid grid-cols-[repeat(auto-fill,minmax(256px,1fr))] justify-items-center justify-center items-start gap-3 bg-bg-secondary p-6 rounded-xl mt-3 w-full max-w-[860px] max-h-[460px] overflow-y-auto border-2 border-placeholder">
    <slot />
  </div>
  <div class="flex justify-end w-full max-w-[860px] pointer-events-none select-none">
    <small class="text-text/35 mt-1">Click on a project to see more details</small>
  </div>
</article>