---
  const { class: className, ...rest } = Astro.props;
---

<a 
  class:list={[
    "bg-transparent text-sm xs:text-base text-text p-1.5 px-2 border-text border-2 rounded-lg flex items-center justify-center gap-2 hover:bg-text hover:text-bg hover:cursor-pointer transition-all duration-200 ease-in-out z-20",
    className
  ]} {...rest}>
  <slot />
</a>