---
	const { title = "Jorge Mora's Portfolio", class: className, backlight = true } = Astro.props;
	import '../styles/global.css';
	import Backlight from "../components/common/Backlight.astro"
	import  SpeedInsights  from "@vercel/speed-insights/astro"
	import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="description" content="Jorge Mora's personal portfolio">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta property="og:title" content="Jorge Mora's Portfolio">
		<meta property="og:description" content="Jorge Mora is a versatile Full Stack Web Developer, Software Developer, Data Scientist, and AI Engineer. Passionate about building scalable applications, leveraging data for insights, and developing AI-driven solutions. Explore projects, skills, and expertise in web development, software engineering, and artificial intelligence." />
		<meta property="og:image" content={`https://${Astro.url.origin}/favicon.png`}>
		<meta property="og:image:width" content="376">
		<meta property="og:image:height" content="376">
		<title>{title}</title>
	</head>
	<body class:list={["bg-transparent", className]}>
		<slot />
		{backlight && (
			<Backlight class="absolute left-1/2 -top-0 -translate-x-1/2 -translate-y-3/4" />
		)}
	</body>
	<Analytics />
	<SpeedInsights />
</html>