---
	import Light from "../components/Backlight.astro"
	import Header from "../components/Header.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jorge Mora's Portfolio</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body class="bg-transparent">
		<Header />
		<slot />
		<Light class="left-1/2 -translate-x-1/2 -translate-y-3/4" />
		<Light class="left-1/2 -translate-x-1/2 bottom-0 translate-y-3/4" />
	</body>
</html>

<style>
	html,
	body {
		@apply bg-bg m-5 text-text;
	}
</style>
