---
	const { class: className } = Astro.props;
	import '../styles/global.css';
	import Backlight from "../components/common/Backlight.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jorge Mora's Portfolio</title>
	</head>
	<body class:list={["bg-transparent", className]}>
		<slot />
		<Backlight class="left-1/2 -top-0 -translate-x-1/2 -translate-y-3/4" />
		<Backlight class="left-1/2 -bottom-0 -translate-x-1/2 translate-y-3/4" />
	</body>
</html>

<style>
	html,
	body {
		@apply bg-bg m-5 text-text;
	}
</style>
